
/* Table Styles */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0px 2px rgba(0,0,0,0.1);
  /* border-width: 10px;
  border-color: #666; */
}

th, td {
  padding: 6px 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #eee;
  font-weight: bold;
}

tr:last-child td {
  border-bottom: none;
}

/* tr:hover {
  background-color: #f9f9f9;
} */

.model {
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
}

.setting {
  text-align: left !important;
}

.pcdf{
  background-color: #fff;
}


/* Custom Styles */
.overview-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 10px;
}

.overview-description {
  text-align: justify;
  margin-top: 10px;
  /* margin-bottom: 10%; */
  line-height: 1.5;
}

.performance-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.abstract-text {
  max-width: 80%;
  margin: auto;
}

.footer-container {
  height: 30px;
  padding: auto;
}

/* Player Container Centering and Expansion */
.container_player {
  max-width: 80% !important;
  margin: 0 auto !important;
  padding: 20px;
  min-height: auto !important;
}

.chat-container {
  height: auto !important;
  max-height: none !important;
  overflow-y: visible !important;
  min-height: auto !important;
}
