/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.blinking{
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
	0%{		color: #000;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #000;	}
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.row,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	font-size: 2.1em;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 938px) {
	.container {
		max-width: 900px;
	}
}
.container-narrow > hr {
	margin: 20px 0;
}

/* Main marketing message and sign up button */
.container .jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 20px;
	padding: 30px;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.row p + h3 {
	margin-top: 28px;
}

div.row h3 {
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 938px) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

p {
	text-align: justify;
}

.readme h1 {
	display: none;
}

.readme blockquote p {
	font-size: 1.1em;
}
