@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: #ffffff;
}
.heading {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 3em;
  margin: 0.5em 0;
}
.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  margin: 0 15em;
}

.images img {
  /* display: block; */
  width: 100%;
  /* height: 400px; */
  /* object-fit: cover; */
  cursor: pointer;
  transition: 0.3s all ease;
}
.images img:hover {
  transform: scale(0.9);
}
.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 1;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
}
.modalContent {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modalImg {
  width: 100%;
  max-width: 700px;
}
.modalTxt {
  margin-top: 1em;
}
.modalNav {
  margin-top: 1em;
}
.modalNav button {
  padding: 10px 45px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.nextBtn {
  margin-left: 1em;
}
.close {
  position: absolute;
  color: #fff;
  top: 1em;
  right: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.modal.appear {
  opacity: 1;
  pointer-events: all;
}
.modal.appear .modalImg,
.modal.appear .modalTxt {
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}